*
{
  margin: 0;
  padding: 0;

}

.App
{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #c0e4ed;
  justify-content: center;
  align-items: center;
}

.app-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,transparent,#5992b8,transparent);
  width: 25rem;
  height:fit-content
}

.head
{
  color: white;
  font-size: 2rem;
  margin-top: 1.8rem;

}

.input-area
{
  width: max-content;

  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

.add-btn
{
  font-size:3rem;
  color:blueviolet;
  
  transition: all 800ms ease;
}

.add-btn:hover
{
  color: rgb(77, 178, 77);
 transition: all 2s ease;
  transform: rotate(45deg);
  transform: rotate(-360deg);
}


input
{
  width: 15rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  border-bottom: 0.3rem solid blueviolet;
  border-radius: 0.2rem;
}

.to-do-list
{
  
  display: flex;
  width: max-content;
  flex-direction: column;
  gap: 1.2rem;
}


ul{
  margin: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

li{
  list-style: none;
  padding: 1rem;
  
  width:15rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  display:list-item;
   border-bottom: 0.1rem solid blueviolet;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: cursive;
  color: white;
  text-overflow:initial;
  
}

li:hover{
  color: #2c2c6c;
  transition: all 400ms ease;
  scale: 1.1;

}




.delete-btn
{
  font-size: 1.5rem;
  transition: all 800ms ease;
  
}

.delete-btn:hover
{
  color: red;
  scale: 1.1;
}



/* media query */

@media screen and (max-width:300px)
{
  .app-container
  {
    width: 16rem;
    height: 30rem;
  }
  
  .head{
    margin-top: 2.2rem;
    font-size: 1.5rem;
  }
.input-area{
 display: flex;
 flex-direction: row;

 

}
 

  .add-btn
  {
    font-size: 1.9rem;
    margin-left: -2rem;

  }
  

 ul 
 {
  scale:0.8;
  font-size:1rem
 }
}